[submodule "RLJO/PDC-Management"]
	path = RLJO/PDC-Management
	url = git@github.com:RLJO/PDC-Management.git
	branch = app-whatsapp_redirect

[submodule "RLJO/PDC-Management2"]
	path = RLJO/PDC-Management2
	url = git@github.com:RLJO/PDC-Management.git
	branch = app-project_report_pdf

[submodule "RLJO/PDC-Management3"]
	path = RLJO/PDC-Management3
	url = git@github.com:RLJO/PDC-Management.git
	branch = app-account_pdc
